
body {
    font-family: 'Helvetica', Arial, sans-serif;
    color: #333333;
    background-color: #cda18d;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h3, h2 {
    font-family: 'Comic Sans MS', cursive, sans-serif;  
    color: rgb(85, 28, 28);
    margin-top: 0px; /* Расстояние сверху */
    margin-bottom: 20px; /* Расстояние снизу */
}

p, a {
    font-family: 'Georgia', serif;
    color: #290606;
    margin: 0;
}

/* Шапка */
.shap {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: 0 15px;
}

.shap-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
}

.shap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    /* text-align: justify; */
}

.shap h1 {
    font-size: 4.1vw;
    text-align: center;
    z-index: 2;
    
    margin: 0 auto; /* Центрирование */
    max-width: 90%; /* Ограничение ширины */
    word-wrap: break-word; /* Перенос длинных слов */
    overflow-wrap: break-word; /* Альтернативный перенос */
    line-height: 1.2;
}

.shap-content {
    display: flex;
    /* flex-direction: column;  */
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    
    /* box-sizing: border-box;  */
    z-index: 2;
}

.shap-text {
    flex: 2;
    max-width: 90%;
    margin: 0 auto; /* Центрирование текста */
    line-height: 1.6; /* расстояние между строками */
    font-size: 1rem; /* Базовый размер текста */
    word-wrap: break-word; /* Перенос слов на новую строку при необходимости */
    padding: 50px 50px;
}

.shap-text p {
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 20px;
    text-align: justify;
    
}

.shap-btn {
    display: inline-block;
    font-size: 2.5rem;
    background-color: #b36e68;
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 3px;
    width: 100%;
    max-width: 750px;    
    text-align: center;  
    transition: background-color 0.3s ease;
        
}

.shap-btn:hover {
    background-color: #9f524b;
}

.shap-image {
    flex: 1;
    text-align: center;
    
}

.shap-image img {
    max-width: 100%;
    height: auto; 
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
}

@media (max-width: 480px) {
    .shap-text {
        padding: 0px 0px;
    }

    .shap h1 {
        font-size: 8vw;
        margin: 0 auto;
        
    }

    .shap-text p {
        font-size: 1rem;
    }

    .shap-btn {
        font-size: 2em;
        padding: 10px 15px;
    }
    .shap-image {
        flex: 1;
        text-align: center;
        
    }

    .shap-image img {
        display: none;
        /* max-width: 70%; */
    }
}

@media (max-width: 768px) {
    .shap-text {
        padding: 0px 0px;
    }

    .shap h1 {
        font-size: 6vw;
    }
    .shap-content {
        flex-direction: column;
    }

    .shap-text {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }

    .shap-image img {
        display: none;
        /* max-width: 80%; */
    }

    .shap-btn {
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 1024px) {
    .shap-text {
        padding: 0px 0px;
    }
    
    .shap-content {
        flex-direction: column;
        text-align: center;
    }

    .shap-image img {
        display: none;
        /* max-width: 30%; */
    }

    .shap h1 {
        font-size: 5vw;
        margin-bottom: 15px;/* */
    }

    .shap-text p {
        font-size: 1rem;
    }

    .shap-text .shap-btn {
        max-width: 80%;
    }
}



.skat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    text-align: center;
}

/* Заголовок */
.skat h2 {
    font-size: 3rem;
    margin-bottom: 25px 0;
    color: #352929;
    text-align: center;
    width: 100%;
}

/* Контейнер биографии */
.biogr {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row; /* Горизонтальное расположение для десктопа */
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}

/* Фото */
.photo-me {
    flex: 0 0 auto; /* Фиксированная ширина фото */
    max-width: 350px; 
    position: relative;
    z-index: 2;
    width: 100%;
}

.photo-me img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Текстовый блок */
.about-me {
    background-color: white;
    padding: 20px;
    flex: 1; /* Текст занимает оставшееся пространство */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    max-width: 350px; /* Ширина текстового блока */
    position: relative;
    z-index: 1;
    min-height: 350px; /* Устанавливаем минимальную высоту текста больше высоты фото */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #352929;
    margin-left: 60px;
    margin-right: 10px;
}

/* Смещение фото поверх текста */
.photo-me {
    margin-right: -70px; /* Фото немного заходит на текст */
}

/* Адаптивность */

/* Для маленьких экранов */
@media (max-width: 480px) {
    .skat h2{
        font-size: 9vw;
    }

    .photo-me img {
        max-width: 100%;
    }

    .about-me p {
        font-size: 1.8rem;
    }
}


/* Мобильные устройства */
@media (max-width: 768px) {
    .biogr {
        flex-direction: column;
        align-items: center;
    }

    .photo-me img {
        max-width: 100%;
    }

    .about-me {
        max-width: 100%;
    }

    .about-me p {
        font-size: 2.5rem;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 1024px) {
    .biogr {
        flex-direction: column; /* Переход на вертикальное расположение */
    }

    .photo-me {
        margin-right: 0; /* Убираем перекрытие */
        margin-bottom: 20px; /* Отступ между фото и текстом */
    }

    .photo-me img {
        max-width: 100%; /* Уменьшаем фото */
    }

    .about-me {
        max-width: 90%;
    }

    .about-me p {
        font-size: 0.95rem;
    }
}


.igrushki {
    display: inline;
    text-align: center;
    padding: 0px 50px 20px 20px;
}
.igrushki h2{
    font-size: 3rem;
    color: #333333;
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap; /* Элементы будут переноситься на следующую строку, если не помещаются */
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px; /* Отступы */
    justify-content: space-around;
}

.igr {
    display: flex;
    flex-direction: column; /* дочерние элементы вертикально */
    justify-content: space-between; /* распределяет пространство между элементами */
    align-items: center;
    background-color: #f5d3d3;
    padding: 15px;
    width: 330px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* тень */
}

.igr img {
    width: 100%; 
    max-width: 300px; /* Максимальная ширина для картинок */
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.igr p {
    font-size: 20px;
    margin: 10px 0;
    color: #442a18;
    font-weight: bold;
}

.igr p:nth-of-type(2) {
    font-weight: normal;
}

.igr button {
    width: 100%; /* Кнопка по ширине карточки */
    max-width: 300px; /* Ограничиваем ширину кнопки */
    background-color: #c0857f;
    color: #ffffff;
    padding: 8px 16px;
    border: none; /* убирает границу кнопки */
    border-radius: 3px;
    cursor: pointer; /* меняется курсор при наведении */
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: auto;
}

.igr button:hover {
    background-color: #b36e68;
    
}


/* Адаптивность */

@media (max-width: 480px) {
    .items {
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: row; /* Горизонтальное расположение для десктопа */
        max-width: 1200px;
        width: 100%;
        gap: 20px;
        margin: 0;
        padding: 0; /* Отступы */
    }

            
    .igrushki h2{
        font-size: 1.3em;
    }
        

    .igr img {
        max-width: 200px; /* мен изобр */
    }

    .igr button {
        font-size: 14px; /* мень размер текста на кнопке */
        padding: 6px 12px;
    }


}

@media (max-width: 768px) {
    .items {
        position: relative;
        flex-direction: row; /* Горизонтальное расположение для десктопа */
        max-width: 1200px;
        width: 100%;
        gap: 20px;
    }

    .igr {
        width: 220px; /* меньш ширину карточек для моб*/
    }

    .igr img {
        max-width: 220px; /* меньш размер карт */
    }
}


@media (max-width: 1024px) {
    .igrushki h2 {
        font-size: 2rem; 
    }

    .items {
        gap: 20px; 
        justify-content: space-around;  /* элементы по центру контейнера */
    }

    .igr {
        width: 220px; /* меньш ширину карт */
    }

    .igr img {
        max-width: 220px; /* меньш размер изобр */
    }
}



.technologies {
    background-color: #f5d3d3;
    padding: 50px 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  .section-title {
    text-align: center;
    font-size: 3rem;
    color: #333333;
    margin: 40px 0;
  }
  
  /* Сетка карточек */
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Адаптивные колонки */
    gap: 40px;
    max-width: 1200px;  
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .tech-card {
    background-color: #cda18d;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание элементов */
    justify-content: space-between;
   
  }
  
  .tech-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  /*картинки в грид*/
  .tech-icon {
    width: 100%; /* Картинки подстраиваются под размер карточки */
    max-width: 320px;
    height: auto;
    border-radius: 8px;
    padding: 10px;
  }
  
  /* заголовки карточек */
  .tech-title {
    font-size: 1.5em;
    color: #3c2626;
    margin: 10px 0 20px 0; /* Отступы: сверху 20px, снизу 10px */
    text-align: center; 
    line-height: 1.2;
  }
  
  /* текст на карточках */
  .tech-description {
    background-color: #cda18d;
    font-size: 20px;
    color: #3c2626;
    line-height: 1.4;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;

  }
  
  /* Адаптивность */

  @media (max-width: 480px) {

    .section-title {
        font-size: 1.8rem;
    }

    .tech-grid {
        gap: 15px; /* Еще меньшее расстояние между карточками */
    }

    .tech-card {
        padding: 8px; /* Уменьшаем отступы внутри карточки */
    }

    .tech-icon {
        
        max-width: 320px;
        padding: 0;
      }
    
}

  @media (max-width: 768px) {

    .section-title {
        font-size: 2rem;
    }

    .tech-grid {
        gap: 20px; /* Уменьшаем расстояние между карточками */
    }    

    .tech-icon {
        max-width: 285px;
        padding: 18px;
      }
}

@media (max-width: 1024px) {
    .section-title {
        font-size: 2.5rem;
    }
    .tech-icon {
        max-width: 295px;
        padding: 10px;
      }
}



/* Всплывающее окно */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px); /* Размытие заднего фона */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup.hidden {
    opacity: 0;
    visibility: hidden;
}

.popup-content {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 80%;
}

.popup-content img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

 
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 26px;
    background-color: #442a18;
    color: #ddcbcb;
    border-radius: 5px;    
    padding: 10px;
    margin: 5px 25px;
  }
  


/* Основной стиль меню */
.main-nav {
    /* background-color: #cda18d; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b36e68;
    position: fixed;
    width: 100%;
    z-index: 10; /* Поверх остального контента */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Легкая тень */
}

/* Убираем стандартные стили списка */
.main-nav ul {
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: space-around;
}

.main-nav li {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase; /* Верхний регистр для текста */
}

.main-nav ul li:last-child {
    margin-right: 0;
}

.main-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease; /* Эффект плавного изменения */
}

.main-nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
    color: #fffbe0; /* Светлый оттенок текста */
    transform: scale(1.1); /* Увеличение */
}

section {
    padding-top: 80px; /* Учитываем высоту фиксированного меню */
}

/* Бургер-меню */
.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center; /* Центрирование изображений */
    display: none;
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background: #ffffff;
    margin: 3px 0;
    transition: all 0.3s ease;
}

.burger-menu-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin-top: 10px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Показ бургер-меню при открытии */
.main-nav.active .burger-menu {
    display: flex;
}

/* Адаптивность */
@media (max-width: 768px) {
    .main-nav ul {
        display: none;
        flex-direction: column;
        background-color: #b36e68;
        position: absolute;
        top: 50px;
        left: 0;
        width: 40%;
    }

    .main-nav ul li {
        margin: 10px 0;
    }

    .burger-menu {
        display: flex;
    }

    .main-nav.active ul {
        display: flex;
    }
}

