body {
    font-family: 'Helvetica', Arial, sans-serif;
    color: #333333;
    background-color: #cda18d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3, h2{
    font-family: 'Comic Sans MS', cursive, sans-serif;  
    color: rgb(85, 28, 28);
        
}

p, a {
    font-family: 'Georgia', serif;
    color: #290606;
}


.shap {
    position: relative;
    height: 100vh; 
    width: 100%; 
}

.shap .img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    opacity: 0.4;
}

.shap h1, .shap p {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.shap h1 {
    top: 5%; 
    font-size: 4vw;
}

.about-image {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.about-image img {
    width: 35vw;
    max-width: 380px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(26, 3, 3, 0.2);
}


.about-text {
    position: absolute;
    width: 50%;
    max-width: 500px; 
    min-width: 100px; 
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align:justify;
}

.about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 1.4vw;
    line-height: 1;
    margin-bottom: 1rem;
}

.about-text a {
    width: 100%;
    min-width: 100px;
    max-width: 585px;
   
    font-size: 40px;
    text-align: center;
    background-color: #b36e68;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;

}

.about-text a:hover {
    background-color: #9f524b;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .shap h1 {
        font-size: 6vw; 
    }
       
}

.skat{
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
}

.about-me {
    display: flex;
    position: relative;
    width: 29em;
    height: 29em;
    background-color: white;
    align-items: center;
    z-index: 1;
    top: 20%;
    left: 43%;
}

.photo-me img{
    position: absolute;
    top: 22%;
    left: 30%;
    width: 23em;
    height: auto;
    z-index: 2; 
}

.about-me p {
    width: 45%;
    margin-bottom: 10px; /* нижний отступ в 10 пикселей */
    color: #352929;
    font-size: 18px; /* размер шрифта */
    line-height: 1.6;  /* высота строки */
    text-align: justify;
    margin-left: 200px;
}
.skat h2 {
    font-size: 2em;
    font-weight: bold;  /* шрифт жирный */
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}


.igrushki {
    text-align: center;
    padding: 20px; /* внутренний отступ */
}
.igrushki h2{
    font-size: 2.5em;
    color: #333333;
}

.items {
    display: flex;
    justify-content: center;  /* элементы по центру контейнера */
    gap: 40px; /* промежуток между элементами */
    flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку, если они не умещаются */
}

.igr {
    display: flex;
    flex-direction: column; /* дочерние элементы вертикально */
    justify-content: space-between; /* распределяет пространство между элементами */
    align-items: center;
    background-color: #f5d3d3;
    padding: 15px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* тень */
}

.igr img {
    width:300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.igr p {
    font-size: 16px;
    margin: 10px 0;
    color: #442a18;
    font-weight: bold;
}

.igr p:nth-of-type(2) {
    font-weight: normal;
}

.igr button {
    width: 300px;
    background-color: #c0857f;
    color: #ffffff;
    padding: 8px 16px;
    border: none; /* убирает границу кнопки */
    border-radius: 3px;
    cursor: pointer; /* меняется курсор при наведении */
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: auto;
}

.igr button:hover {
    background-color: #b36e68;
    
}

@media (max-width: 700px) {
    .shap h1{
        font-size: 2vw;
    }
}


.technologies {
    background-color: #f5d3d3;
    padding: 50px 20px;
  }
  
  .section-title {
    text-align: center;
    font-size: 2.5em;
    color: #333333;
    margin-bottom: 40px;
  }
  
  /* Сетка карточек */
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три столбца в первом ряду */
    gap: 40px;
    max-width: 1050px;
    margin: 0 auto;
  }
  
  .tech-card {
    background-color: #cda18d;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tech-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  /*картинки в грид*/
  .tech-icon {
    width: 280px;
    height: 280px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  /* заголовки карточек */
  .tech-title {
    font-size: 1.5em;
    color: #3c2626;
    margin-bottom: 10px;
  }
  
  /* текст на карточках */
  .tech-description {
    background-color: #d2a691;
    font-size: 1em;
    color: #3c2626;
    line-height: 1.4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }
  
  /* Адаптивность */
  @media (max-width: 768px) {
    .tech-grid {
      grid-template-columns: repeat(2, 1fr); /* Два столбца на планшетах */
    }
  }
  
  @media (max-width: 480px) {
    .tech-grid {
      grid-template-columns: 1fr; /* Один столбец на мобильных */
    }
  }
