body {
    font-family: 'Helvetica', Arial, sans-serif;
    color: #333333;
    background-color: #cda18d;
    margin: 0;
    padding: 0px;
}


.shap {
    position: relative;
    height: 100vh; 
    width: 100%; 
}

.shap .img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    opacity: 0.4;
}

.shap h1, .shap p {
    position: absolute;
    color: rgb(57, 15, 6);
    text-align: center;
    width: 100%;
    z-index: 2;
}

.shap h1 {
    top: 10%; /* Смещает заголовок вниз */
    font-size: 45px;
}

.about-image {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.about-image img {
    width: 350px;
    height: auto;
    border-radius: 180px;
}


.about-text {
    position: absolute;
    max-width: 500px; 
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 3;
}


.about-text p {
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 10px;
}

.about-text a {
    background-color: #b36e68;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}






.about-me h2 {
    text-align: center;
}

.about-me p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    color: #333333;

    font-size: 14px;
    line-height: 1.6;  
}



h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}


.igrushki {
    text-align: center;
    padding: 20px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
}

.igr {
    background-color: #e3d7d1;
    padding: 15px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.igr img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.igr p {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}

.igr span {
    font-weight: bold;
    color: #333333;
    display: block;
    margin-bottom: 10px;
}

.igr button {
    background-color: #c0857f;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.igr button:hover {
    background-color: #b36e68;
}


